.center {
    height: 100vh;
}

.label {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .label {
        text-align: center;
    }
}

.navbar {
    border: black solid;
    top: 0;
    border-width: 1px;
}

.btnTeacher {
    background-color: #778899;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 0 15px 0 0;
}

.borderBlack {
    border: black solid 2px;
}

.borderGray {
    border: #778899 solid 10px;
}

.content {
    padding: 15px;
}

.selected {
    background-color: #B0C4DE;
}
