.center {
    height: 100vh;
}

.label {
    text-align: right;
}

.label-admin {
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .label {
        text-align: center;
    }
}

.navbar {
    border: black solid;
    top: 0;
    border-width: 2px;
}

.btnLehrer {
    background-color: #778899;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-radius: 0 17px 0 0;
    height: 50px;
    width: 100px;
}

.borderBlack {
    border: black solid 2px;
}

.borderGray {
    border: #778899 solid 10px;
}

.content {
    padding: 15px;
}

.rahmenInhalt {
    background-color: #778899;
    padding-top: 10px;
}

.selected {
    background-color: #B0C4DE;
}
